@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html, body{
  height: 100%;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  font-family: 'inter';
}

.conteudo{
  flex: 1;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo{
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #F9F8FA;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #009CA6;
  height: 8vh;
}

.botao__navegacao{
  padding: 10px;
  background: #009CA6;
  margin-right: 10px;
  
}


.entrar,
.cadastro{
    padding: 0.5vh;
    text-align: center;
    color: #000000;
    background-color: #D9D9D9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.entrar:hover,
.cadastro:hover{
  transform: scale(1.1);
  transition: background-color 0.3s ease, transform 0.5s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

h1{
  font-size: 64px;
  text-align: center;
  margin-top: 10vh;
  color: #009CA6;
}
.container__cadastro{
  width: 100%;
  height: auto;
  background-color: #ffffff;
  
}

.container__cadastro h1{
  font-size: 64px;
  text-align: center;
  margin-top: 10vh;

}

.subtitulo{
  text-align: center;
  font-size: 28px;
  margin-top: 1.5vh;
}


.container__informacoes{
  padding: 15px;
  border-radius: 5px;
  border: 5px;
  width: 500px;
  margin: auto;
  margin-top: 5vh;
}

.container__informacoes #nome,
.container__informacoes #e-mail,
.container__informacoes #senha,
.container__informacoes #estado,
.container__informacoes #cidade{
  width: 100%;
  padding: 10px;
  background-color: #ffe9cc;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 0.9vh;
}


#botao__entrar{
  margin-top: 20px;
  width: 50%;
  padding: 10px;
  background-color: #ffa500;
  color: #000000;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

#botao__entrar:hover {
  background-color: #ff8c00;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#ja__possui__conta{
  margin-top: 1.5vh;
  text-align: center;
}

#ja__possui__conta a{
  color: #0000ff;
}

#ja__possui__conta a:hover{
  text-decoration: underline;
}

footer {
  background-color: #0097a7;
  color: white;
  padding: 40px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-section {
  flex: 1;
  min-width: 180px;
  margin-bottom: 20px;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-section p,
.footer-section a {
  margin: 4px 0;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}
.footer-section p:hover,
.footer-section a:hover{
  cursor: pointer;
  color: #ffffffad;
} 
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.social-icons {
  display: flex;
  gap: 15px;
  font-size: 20px;
}

.social-icons a {
  color: white;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ddd;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}