@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body{
  font-family: inter;
}
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #F9F8FA;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #009CA6;
  height: 8vh;
}

.botao__navegacao{
  padding: 10px;
  background: #009CA6;
  margin-right: 10px;
  
}


.entrar,
.cadastro{
    padding: 0.5vh;
    text-align: center;
    color: #000000;
    background-color: #D9D9D9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.entrar:hover,
.cadastro:hover{
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.5s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

.bem_vindo{
  text-align: center;
  padding: 40px;
  color: #009CA6;
}

h1{
  font-size: 8vh;
  font-weight: 700;
}

.paragrafo__bem_vindo{
  font-size: 28px;
  padding-top: 2em;
  margin-left: 60px;
}

.imagem_bem_vindo{
  padding-left: 600px;

}

.imagem_bem_vindo:hover{
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
  
  cursor: pointer;
}
.container__bem_vindo{
  display: flex;
 
}

.container__carrocel{
  margin-top: 2vh;
}

.carrocel__pets__resgatados {
  background-color: #F8F9FA;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

.pets__resgatado {
  width: 543px;
  height: auto;
  text-align: center;
}

.pets__resgatado img {
  width: 100%;
  height: 305px;
  object-fit: cover;
  border-radius: 10px;
}

.pets__resgatado img:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pets__resgatado h3 {
  color: #009CA6;
  font-size: 36px;
  font-family: 'Inter', sans-serif;
  margin: 10px 0 5px;
}

.pets__resgatado p {
  color: #000000;
  font-size: 25px;
  font-family: 'Inter', sans-serif;
}

.container__variedades{
  justify-content: center;
}

.imagens__variaveis{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.texto__variedades{
  list-style-type: none;
  justify-content: center;
  margin-left: 10vh;
}

.texto__variedades img:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.foto__gato,
.foto__cachorro{
  width: 363px;
  height: 259px;
  border-radius: 10px;
}

.segundario{
  display: flex;
  margin-top: 50px;
}

.ajuda__doacao{
  justify-content: center;
}

.texto__segundario{
  margin-top: 80px;
  align-items: center;
}
.texto__segundario h2{
  font-size: 28px;
  margin-left: 20vh;
}

.texto__segundario p{
  font-size: 20px;
  margin-top: 5px;
  margin-left: 40px;
}

.botao__ajude__aqui{
  background-color: #FF9400;
  color: #000000;
  width: 477px;
  height: 65px;
  margin-left: 14vh;
  margin-top: 50px;
  border: none;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'inter';
}


.botao__ajude__aqui:hover{
  background-color: #f18e03;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}

.imagem__segundario{
  margin-left: 200px;
  margin-bottom: 50px;
}

.imagem__segundario:hover{
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}


footer {
  background-color: #0097a7;
  color: white;
  padding: 40px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-section {
  flex: 1;
  min-width: 180px;
  margin-bottom: 20px;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-section p,
.footer-section a {
  margin: 4px 0;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}
.footer-section p:hover,
.footer-section a:hover{
  cursor: pointer;
  color: #ffffffad;
} 
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.social-icons {
  display: flex;
  gap: 15px;
  font-size: 20px;
}

.social-icons a {
  color: white;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ddd;
}




@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}