@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: inter;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 1.5rem; /* 24px */
  text-transform: uppercase;
  letter-spacing: 0.25rem; /* 4px */
  color: #F9F8FA;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #009CA6;
  height: 8vh;
}

.botao__navegacao {
  padding: 0.625rem; /* 10px */
  background: #009CA6;
  margin-right: 0.625rem; /* 10px */
}

.entrar,
.cadastro {
  padding: 0.5vh;
  text-align: center;
  color: #000000;
  background-color: #D9D9D9;
  border: none;
  border-radius: 0.3125rem; /* 5px */
  cursor: pointer;
}

.entrar:hover,
.cadastro:hover {
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.5s ease;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* 4px 8px */
}

main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 0.1875rem; /* 3px */
  margin-left: 2rem; /* 32px */
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 2rem; /* 32px */
  height: 0.125rem; /* 2px */
  background: #fff;
  margin: 0.5rem; /* 8px */
  transition: 0.3s;
}

.bem_vindo {
  text-align: center;
  padding: 2.5rem; /* 40px */
  color: #009CA6;
}

h1 {
  font-size: 8vh;
  font-weight: 700;
}

.paragrafo__bem_vindo {
  font-size: 1.75rem; /* 28px */
  padding-top: 2em;
  margin-left: 3.75rem; /* 60px */
}
.imagem_bem_vindo {
  width: 30%; /* define uma largura fixa para o elemento */
  box-sizing: border-box; /* padding e bordas serão incluídos dentro dessa largura */
  margin-left: 10%;
}

.imagem_bem_vindo:hover {
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.container__bem_vindo {
  display: flex;
}

.container__carrocel {
  margin-top: 2vh;
}

.carrocel__pets__resgatados {
  background-color: #F8F9FA;
  display: flex;
  justify-content: center;
  gap: 2.5rem; /* 40px */
  padding: 1.25rem; /* 20px */
}

.pets__resgatado {
  width: 33.9375rem; /* 543px */
  height: auto;
  text-align: center;
}

.pets__resgatado img {
  width: 100%;
  height: 19rem; /* 305px */
  object-fit: cover;
  border-radius: 0.625rem; /* 10px */
}

.pets__resgatado img:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.pets__resgatado h3 {
  color: #009CA6;
  font-size: 2.25rem; /* 36px */
  font-family: 'Inter', sans-serif;
  margin: 0.625rem 0 0.3125rem; /* 10px 0 5px */
}

.pets__resgatado p {
  color: #000000;
  font-size: 1.5625rem; /* 25px */
  font-family: 'Inter', sans-serif;
}

.container__variedades {
  justify-content: center;
}

.imagens__variaveis {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem; /* 40px */
}

.texto__variedades {
  list-style-type: none;
  justify-content: center;
  margin-left: 10vh;
}

.texto__variedades img:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.foto__gato,
.foto__cachorro {
  width: auto; /* 363px */
  height: 16.1875rem; /* 259px */
  border-radius: 0.625rem; /* 10px */
}

.segundario {
  display: flex;
  margin-top: 3.125rem; /* 50px */
}

.ajuda__doacao {
  justify-content: center;
}

.texto__segundario {
  margin-top: 5rem; /* 80px */
  align-items: center;
}

.texto__segundario h2 {
  font-size: 1.75rem; /* 28px */
  margin-left: 20vh;
}

.texto__segundario p {
  font-size: 1.25rem; /* 20px */
  margin-top: 0.3125rem; /* 5px */
  margin-left: 2.5rem; /* 40px */
}

.botao__ajude__aqui {
  background-color: #FF9400;
  color: #000000;
  width: 29.8125rem; /* 477px */
  height: 4.0625rem; /* 65px */
  margin-left: 14vh;
  margin-top: 3.125rem; /* 50px */
  border: none;
  border-radius: 0.625rem; /* 10px */
  padding-left: 2.5rem; /* 40px */
  padding-right: 2.5rem; /* 40px */
  cursor: pointer;
  font-size: 1.25rem; /* 20px */
  font-family: 'inter';
}

.botao__ajude__aqui:hover {
  background-color: #f18e03;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.imagem__segundario {
  margin-left: 12.5rem; /* 200px */
  margin-bottom: 3.125rem; /* 50px */
}

.imagem__segundario:hover {
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

footer {
  background-color: #0097a7;
  color: white;
  padding: 2.5rem 3.75rem; /* 40px 60px */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-section {
  flex: 1;
  min-width: 11.25rem; /* 180px */
  margin-bottom: 1.25rem; /* 20px */
}

.footer-section h4 {
  margin-bottom: 0.625rem; /* 10px */
  font-size: 1rem; /* 16px */
}

.footer-section p,
.footer-section a {
  margin: 0.25rem 0; /* 4px 0 */
  color: #ffffff;
  text-decoration: none;
  font-size: 0.875rem; /* 14px */
}

.footer-section p:hover,
.footer-section a:hover {
  cursor: pointer;
  color: #ffffffad;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 0.25rem; /* 4px */
}

.social-icons {
  display: flex;
  gap: 0.9375rem; /* 15px */
  font-size: 1.25rem; /* 20px */
}

.social-icons a {
  color: white;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ddd;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
