@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

html, body{
  font-family: inter;
  height: 100%;
  margin: 0;
}

#conteudo{
    flex: 1;
}

header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 15px;
  background-color: #0097a7; 
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #F9F8FA;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #009CA6;
  height: 8vh;
}

.botao__navegacao{
  padding: 10px;
  background: #009CA6;
  margin-right: 10px;
  
}


.entrar,
.cadastro{
    padding: 0.5vh;
    text-align: center;
    color: #000000;
    background-color: #D9D9D9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.entrar:hover,
.cadastro:hover{
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.5s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

#container{
    margin: 2.5vh 0 1.5vh 0;
    padding: 10px 5px;
    border-radius: 15px;
    border: #000000 1px solid;
    box-shadow: 0 4px 8px #00000033;
    color: #F9F8FA;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    min-height: 52vh;
    position: relative;
}
#container h1{
    text-align: center;
    font-size: 40px;
    color: #009CA6;
    margin-bottom: 4vh;
}
#container p{
    text-align: center;
    font-size: 23px;
    color: #000000;
}

#imagem {
    display: flex;
    justify-content: center;
    height: 35vh;
  
}

.slogan{
  color: #009CA6;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

.imagem__sobre{
  margin-bottom: 20px;
  margin-top: 20px;
}
.imagem__sobre:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.5s ease;
  
}

footer {
  background-color: #0097a7;
  color: white;
  padding: 40px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-section {
  flex: 1;
  min-width: 180px;
  margin-bottom: 20px;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-section p,
.footer-section a {
  margin: 4px 0;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}
.footer-section p:hover,
.footer-section a:hover{
  cursor: pointer;
  color: #ffffffad;
} 
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.social-icons {
  display: flex;
  gap: 15px;
  font-size: 20px;
}

.social-icons a {
  color: white;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ddd;
}






@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}